.bg-dark {
    background: #1B2021 !important;
    -webkit-box-shadow: 0px 1px 18px 19px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 18px 19px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 18px 19px rgba(0, 0, 0, 0.5);
}


.theme-switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 30px;
    margin: 0px 5px;
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    background-image: url('../images/icons/sun.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    transition:  0.3s;
}
.slider:hover {
    width: 33px;
    height: 33px;
}
.theme-switch input:checked ~ .slider {
    background-image: url('../images/icons/moon.png');
}